<div >
    <div class="container pt-3 my-3 bg- white" >

        <div class="card bg-white text-dark px-2 " style=" border: none; border-radius: 20px;">
            <div class="card-body ">
                <div class="align-items-center">
                    <h5>{{item.Title}}</h5>
                    <div class="progress">
                        <div class="progress-bar bg-danger" [style.width]="item.Percentage+'%'"></div>
                    </div>
                    <div class="row pt-2">
                        <div class="col ">
                            <div>{{item.Time}}</div>
                        </div>
                        <div class="col d-flex justify-content-end ">
                            <div>{{item.Detail}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>