<div >
    <div class="container pt-3 my-3 bg- white" >

        <div class="card bg-white text-dark px-2 " style=" border: none; border-radius: 20px;">
            <div class="card-body ">
                <div class="align-items-center">
                    <h5>Reached 30 orders for Aice Strawberry Crispy</h5>
                    <div class="progress">
                        <div class="progress-bar bg-danger" style="width:70%"></div>
                    </div>
                    <div class="row pt-2">
                        <div class="col ">
                            <div>3h</div>
                        </div>
                        <div class="col d-flex justify-content-end ">
                            <div>finished 5 out of 30</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>